.navbar {
    background-color: #3FB45F;
}

.primarycolor {
    background-color: #3FB45F;
}

#main {
    margin-top: 90px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}